* {
	margin: 0;
	padding: 0;
	block-size: border-box;
}

*::selection {
	background-color: aqua;
	color: white;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Poppins', serif;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 0%;
	color: #b0adad;
	background-color: #212121;
}

.site-top {
	background-image: url(../images/header/header-logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 208px;
}

.site-header {
	padding-top: 18px;
	padding-bottom: 209px;
}

.site-header-container {
	max-width: 1263px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	font-family: 'Poppins';
	font-weight: 700;
	font-style: Bold;
	font-size: 24px;
	line-height: 1, 5;
	color: white;
	transition: all 0.4s ease;
}

.logo img {
	margin-right: 14px;
}

.logo:hover {
	opacity: 0.8;
	transform: scale(1.1);
}

.logo:active {
	opacity: 0.6;
}

.sitenav {
	display: flex;
	align-items: center;
}

.sitenav-item:not(:last-child) {
	margin-right: 32px;
}

.sitenav-item {
	transition: all 0.4s ease;
}

.sitenav-item:hover {
	opacity: 0.8;
	transform: translateY(5px);
}

.sitenav-link {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	color: #fff;
	transition: all 0.4s ease;
}

.sitenav-link:hover {
	color: #3ae218;
}

.sitenav-link:active {
	opacity: 0.6;
}

/* HERO START */

.hero-container {
	max-width: 540px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	color: white;
	text-align: center;
}

.hero-title {
	margin-bottom: 24px;
	font-weight: 600;
	font-size: 64px;
	line-height: 1.5;
}

.hero-text {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 24px;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-item:not(:last-child) {
	margin-right: 24px;
}

.social-link {
	width: 42px;
	height: 42px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.4s ease;
}

.social-link:hover {
	transform: scale(1.1);
}

.social-link:active {
	opacity: 0.6;
}
/* HERO END */
